@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    @apply bg-zinc-950 text-zinc-100 font-sans;
    margin: 0;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    overflow: hidden;
  }
}
